<ion-header>
  <ion-toolbar>

    <ion-title>Converter</ion-title>
    <ion-back-button defaultHref="/main" slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%;">

    <ion-row style="height: 40%;padding-bottom: 10%;" align-items-end>
      <ion-col size="6">
        <ion-input inputmode="decimal" placeholder="Enter value to convert" class="input-value" (ionChange)="onBaseChangeValue($event)"></ion-input>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="4">
        <ion-select class="input-value" (ionChange)="onBaseChangeCurrency($event)" #baseSelect>
          <ng-container *ngFor="let elem of rates | keyvalue ">
            <ion-select-option [value]="elem.key">{{ elem.key }}</ion-select-option>
          </ng-container>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row class="center-line">
      <ion-col size="12">
        <div class="convert-div"><img src="../../../assets/convert.png" class="convert-img" (click)="invertCurrency()"></div>
      </ion-col>
    </ion-row>

    <ion-row style="height: 40%;padding-top: 3%;" align-items-start>
      <ion-col size="6">
        <ion-input inputmode="decimal" placeholder="Enter value to convert" class="input-value" [value]="resValue"></ion-input>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="4">
        <ion-select placeholder="EUR" class="input-value" (ionChange)="onDestChangeCurrency($event)" #destSelect>
          <ng-container *ngFor="let elem of rates | keyvalue ">
            <ion-select-option [value]="elem.key" >{{ elem.key }}</ion-select-option>
          </ng-container>
        </ion-select>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>
