<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-button slot="start" style="margin-left: 10px;" color="danger" (click)="logout()">Logout</ion-button>
    <ion-title style="text-align: center;">Hi {{user.displayName}} !</ion-title>
    <ion-button slot="end" style="margin-right: 10px;" color="success" routerLink="/converter" router-direction="forward">Converter</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="new-background-color">
    <ion-grid>
      <ion-row align-items-center style="font-size: 18px">
        <ion-col style="text-align: right;" size="6">From Currency : </ion-col>
        <ion-col style="text-align: left;padding: 0!important;" size="3">
          <ion-select placeholder="EUR" style="padding: 0;" (ionChange)="onBaseChange($event)">
            <ng-container *ngFor="let elem of rates | keyvalue ">
              <ion-select-option [value]="elem.key" [selected]="baseCurrency === elem.key">{{ elem.key }}</ion-select-option>
            </ng-container>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ng-container *ngFor="let elem of rates | keyvalue ">
    <app-item-currency *ngIf="elem.key != baseCurrency"
                       [rate]="elem.value" [srcCurrency]="baseCurrency" [destCurrency]="elem.key" [destSym]="syms[elem.key]">
    </app-item-currency>
  </ng-container>

</ion-content>
