<ion-header>
  <ion-toolbar>
    <ion-title>main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-grid>
      <ion-row align-items-center>
        <ion-col style="text-align: right;">From Currency : </ion-col>
        <ion-col style="text-align: left; padding: 0!important;">
          <ion-select placeholder="EUR" style="padding: 0!important;">
            <ion-select-option value="f">Female</ion-select-option>
            <ion-select-option value="m">Male</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
